.icon-location
  background-image: url('../svg/location.svg')
  background-size:100%
  width: 13px
  height: 13px
  display: inline-block
  vertical-align: middle

.icon-unlike
  background-image: url('../svg/heart.svg')
  background-size:100%
  width: 13px
  height: 12px
  display: inline-block
  vertical-align: middle
.icon-add
  background-image: url('../svg/send.svg')
  display: block
  width: 14px
  transition: all .5s
  height: 14px
  background-size:100%
  margin:0px auto
  &.rotate
    transform: rotate(45deg)

.icon-like
  background-image: url('../svg/heart-red.svg')
  background-size:100%
  width: 13px
  height: 12px
  display: inline-block
  vertical-align: middle

.icon-comment
  background-image: url('../svg/comment.svg')
  background-size:100%
  width: 13px
  height: 10px
  display: inline-block
  vertical-align: middle

.icon-message
  background-image: url('../svg/message.svg')
  background-size:100%
  width: 18px
  height: 16px
  display: block
  margin:11px auto

.weui-icon-search
  &:before
    content: ''
    background-image: url('../svg/search.svg')
    background-size:100%
    width: 18px
    height: 16px
    display: block
    margin: 12px auto

.icon-index
  display: block
  background-image: url('../svg/nav-home2.svg')
  background-size:100%
  width: 20px
  height:20px
  margin:0 auto
  &.active
    background-image: url('../svg/nav-home1.svg')

.icon-found
  display: block
  background-image: url('../svg/nav-discover2.svg')
  background-size:100%
  width: 20px
  height:20px
  margin:0 auto
  &.active
    background-image: url('../svg/nav-discover1.svg')

.icon-mall
  display: block
  background-image: url('../svg/nav-shop2.svg')
  background-size:100%
  width: 20px
  height:20px
  margin:0 auto
  &.active
    background-image: url('../svg/nav-shop1.svg')

.icon-my
  display: block
  background-image: url('../svg/nav-me2.svg')
  background-size:100%
  width: 20px
  height:20px
  margin:0 auto
  &.active
    background-image: url('../svg/nav-me1.svg')

.icon-ask
  background-image: url('../svg/ask.svg')
  background-size:100%
  width: 18px
  height: 16px
  display: inline-block
  vertical-align: sub

.icon-bigtiwen
  background-image: url('../svg/question.svg')
  background-size:100%
  width: 60px
  height: 60px
  display: block
  margin: 0 auto

.icon-anli
  background-image: url('../svg/case.svg')
  background-size:100%
  width: 60px
  height: 60px
  display: block
  margin: 0 auto

.icon-cam
  background-image: url('../svg/cam.svg')
  background-size:100%
  width: 20px
  height: 16px
  display: block
  margin: 2px auto

.icon-delete
  background-image: url('../svg/delete.svg')
  background-size:100%
  width: 16px
  height: 16px
  display: block
  margin: 0 auto

.icon-img
  background-image: url('../svg/pic.svg')
  background-size:100%
  width: 23px
  height: 30px
  display: block
  margin: 0 auto

.icon-arrow
  background-image: url('../svg/arrow.svg')
  background-size:100%
  width: 16px
  height: 16px
  display: block
  margin: 0 auto

.icon-arrow-white
  background-image: url('../svg/arroww.svg')
  background-size:100%
  width: 16px
  height: 16px
  display: block
  margin: 0 auto
.icon-checked
  background-image: url('../svg/check.svg')
  background-size:100%
  display: block
  width: 21px
  height: 21px

.icon-uncheck
  background-image: url('../svg/uncheck.svg')
  background-size:100%
  display: block
  width: 21px
  height: 21px

.icon-qiandao
  background-image: url('../svg/qiandao.svg')
  background-size:100%
  display: block
  width: 21px
  height: 21px

.icon-waitpay
  background-image: url('../svg/oder-icon-pay.svg')
  background-size:100%
  display: block
  width: 32px
  height: 28px

.icon-waittran
  background-image: url('../svg/oder-icon-tran.svg')
  background-size:100%
  display: block
  width: 32px
  height: 28px

.icon-waitwrite
  background-image: url('../svg/oder-icon-write.svg')
  background-size:100%
  display: block
  width: 32px
  height: 32px

.icon-get
  background-image: url('../svg/oder-icon-get.svg')
  background-size:100%
  display: block
  width: 32px
  height: 29px

.icon-address
  background-image: url('../svg/my-tiwen.svg')
  background-size:100%
  width: 18px
  height: 18px
  display: inline-block
  vertical-align: middle;

.icon-jifen
  background-image: url('../svg/my-jifen.svg')
  background-size:100%
  width: 18px
  height: 18px
  display: inline-block

.icon-mycase
  background-image: url('../svg/my-case.svg')
  background-size:100%
  width: 18px
  height: 18px
  display: inline-block

.icon-friend
  background-image: url('../svg/my-friend.svg')
  background-size:100%
  width: 18px
  height: 18px
  display: inline-block

.icon-fenxiao
  background-image: url('../svg/my-fenxiao.svg')
  background-size:100%
  width: 18px
  height: 17px
  display: inline-block

.icon-tiwen
  background-image: url('../svg/my-tiwen.svg')
  background-size:100%
  width: 18px
  height: 18px
  display: inline-block

.icon-call
  background-image: url('../svg/call.svg')
  background-size:100%
  width: 18px
  height: 18px
  display: block
  margin:8px auto;

.icon-edit
  background-image: url('../svg/edit.svg')
  background-size:100%
  width: 12px
  height: 12px
  display: inline-block
  margin:11px 0 11px 19px;
  vertical-align: middle;

.icon-nan
  background-image: url('../svg/nan.svg')
  background-size:100%
  width: 10px
  height: 10px
  display: block
  margin:0 auto

.icon-nv
  background-image: url('../svg/nv.svg')
  background-size:100%
  width: 10px
  height: 10px
  display: block
  margin:0 auto

.icon-locationgray
  background-image: url('../svg/locationgray.svg')
  background-size:100%
  width: 12px
  height: 12px
  display: inline-block
  margin:0 auto

.icon-qiandao
  background-image: url('../svg/date.svg')
  background-size:100%
  width: 18px
  height: 18px
  display: block

.icon-star
  background-image: url('../svg/star.svg')
  background-size:100%
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: middle;

.icon-cancel
  background-image: url('../svg/cancel.svg')
  background-size:100%
  width: 16px
  height: 16px
  display: block
  margin:12px auto;
