@import "./variable.styl"
.popup-container
  width:100%
  background:#f5f5f5
  text-align:center
  .popup-title
    line-height:74px
    color:$color-text-ll
    font-size:16px
    background:#fff
    border-bottom:1px solid #eee
  .popup-buttonGroup
    .popup-submit, .popup-cancel
      background:#fff
      line-height:50px
      font-size:18px
    .popup-submit
      color: #f4333c
      margin-bottom:6px
    .popup-cancel
      color:$color-title
