$color-blue-a = #0084FF
$color-blue-b = #71ABFD
$color-blue-c = #E8F2FF
$color-blue-D = #3484FF

$color-red = #EE5740
$color-yellow = #ffc904

$color-title = #38393C
$color-text-l = #4F5054
$color-text-ll = #999999
$color-text-lll = #C7C7C7

$color-line = #e4e4e4
$color-bg = #f7f7f7

$color-lg-d = #3E71FF
$color-lg-l = #5E9FFF
